<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Doar</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Sistema online para conectar ONGs e insituições que precisam de doações
        a pessoas que estejam interessadas em doar qualquer coisa.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://github.com/icaroharry/doar" target="_blank">Saiba mais</a>
      </p>
    </div>
  </div>
  <div>
    <p>Esse projeto faz parte da matéria de Engenharia de Software. O sistema é voltado para ONGs e instituições de caridade que necessitam de doações esporádicas ou periódicas. </p> 
    <p>A ideia é conectar, por meio de um sistema on-line, as instituições e potenciais doadores. Ou seja, as ONGs podem se cadastrar e listar as doações que precisam. Após isso, doadores podem registrar o interesse de doação para que a ONG entre em contato com ele e seja combinada a melhor forma de receber a doação.</p>
    
    <p>É muito fácil de usar.</p>
    <p>Se você representa uma ong ou instituição</p>
    <ul>
      <li>
        Clique em
        <em>Sign Up</em> para se registrar.
      </li>
      <li>
        Preencha suas informações.
      </li>
      <li>
        Solicite uma doação.
      </li>
      <li>
        Aguarde boas pessoas :)
      </li>
    </ul>
  </div>
  <br>
  <br>Criado com <strong> ♥ <strong> por Ícaro
</section>
